*{
    background-color: rgb(255, 255, 255)
}
.loginContainer{
    margin-right: auto;
    margin-left: auto;
    font-family: 'Inter';
    color: rgba(0,0,0,0.87);
    height: 436px;
    width: 388px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 16px 0px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    padding-top: 32px;
    padding-left: 56px;
    padding-right: 56px;
    padding-bottom: 32px;
}

.signup-link{
    color: rgb(68, 81, 255);
    margin-top: 5px;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: -0.1679999977350235px;
    line-height: 16px;
    font-weight: bold;
    text-align: center;
}

.sectionTitle-signin{
    font-size: 40px;
    font-weight: bold;
}

.welcome-signin{
    font-size: 18px;
}

.loginContainer div{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.loginContainer div label{
    font-weight: bold;
    margin-bottom: 4px;
}

.loginContainer div input{
    height: 32px;
    font-size: 14px;
    border-width: 1px;
    border-color: black;
    border-radius: 18px;
    padding-left: 15px;
}

.loginContainer div input :focus{
    outline: none;
}

.loginContainer button{
    background-color: rgb(24, 39, 215);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
    border: none;
    width: 100%;
    padding-right: 24px;
    white-space: nowrap;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}